<div class="container">
  <div  [hidden]="submitted">
    <h1>RE Appraisal</h1>
    <form *ngIf="active" (ngSubmit)="onMlsIDSubmit()" #appraisalForm="ngForm">
      <div [hidden]="validMlsID" class="alert alert-danger">
          That MlsID does not exist. 
      </div>
      <div [hidden]="!processed" class="alert alert-success">
          Mortgage ID and appraisal value have been passed to INSinc!
      </div>
      <div class="form-group">
        <label for="name">Mls ID:</label>
        <input type="text" class="form-control" required
          [(ngModel)]="model.mlsID"
            ngControl="mlsID"  #mlsID="ngForm" >
        <div [hidden]="mlsID.valid || mlsID.pristine" class="alert alert-danger">
          Mls ID is required
        </div>
      </div>
      <button type="submit" class="btn btn-default" [disabled]="!appraisalForm.form.valid">Submit</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>Welcome! Here are the details for house {{ model.mlsID }}:</h2>
    <div class="row">
      <div class="col-xs-3">Appraisal Value:</div>
      <div class="col-xs-9 pull-left">${{ model.appraisal_value }}</div>
    </div>
    <br>
    
    <form *ngIf="active" (ngSubmit)="onINSincSubmit()" #mortgageForm="ngForm">
   	  <div [hidden]="validMortID" class="alert alert-danger">
          Invalid mortgage ID.
      </div>
       <div class="form-group">
        <label for="name">Full Name:</label>
        <input type="text" class="form-control" required
          [(ngModel)]="model.name"
            ngControl="name"  #name="ngForm" >
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="name">Mortgage ID:</label>
        <input type="text" class="form-control" required
          [(ngModel)]="mortgage.mortID"
            ngControl="mortID"  #name="ngForm" >
      </div>		
       <button type="submit" class="btn btn-default" [disabled]="!mortgageForm.form.valid">Submit to INSinc</button>
    </form>
  </div>
</div>
<hr>
<style>
  .no-style .ng-valid {
  border-left: 1px  solid #CCC
}

  .no-style .ng-invalid {
  border-left: 1px  solid #CCC
}
</style>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->